@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    As an Ohio University student majoring in management information systems and marketing with a certificate in sales, I possess a combination of creativity and statistical knowledge.
    I'm a very goal driven individual that is always looking for ways I can improve my skill set. 
    I've been interested in studying business for the greater part of my life. 
    As a young kid, I would always go on my father's sales deliveries. 
    During this experiences, I learned the meaning of establishing relationships with customers to build trust. 
    Growing up with parents that both worked full-time in their respective careers taught me that hard work and dedication will take you as far as you want to go in life. 
    Over the past four summers, I've had the great opportunity to work 40+ hours a week in the Parks and Recreation Department of the City of Mentor.
    On campus, I'm involved in the Ralph and Luci Schey Sales Centre and Alpha Kappa Psi Professional Business Fraternity. Also, I have received both the 21st leadership and Professional leadership certificates through the Career Leadership and Development Center at Ohio University. Currently, I'm looking for a marketing or MIS internship for the summer of 2018.
</p>
