@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    25 Kurtz Street<br />
    Apartment 210<br />
    Athens, OH 45701<br />   
</address>

<address>
    <strong>Phone:</strong> 440.488.6159
    <strong>Email:</strong> <a href="mailto:zs619215@ohio.edu">zs619215@ohio.edu</a>
</address>